body, html {
  /* nothing touches */
    margin: 0;
    /* divs to the edges */
    padding: 0;
    /* vh stands for viewport height */
    height: 100vh;
  }

  /* start from the smallest screen size */
  #thegridofdestiny {
    display: grid;
    min-height: 100%;
    /* divided into 3 equal parts on small screen*/
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media only screen and (max-width:600px) {
    #thegridofdestiny {
      /* divided into 2 equal parts on medium screen*/
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (min-width:1000px) {
    #thegridofdestiny {
      /* divided into 6 equal columns on largest screen */
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
  #thegridofdestiny :nth-child(1) {
    background-color: rgb(137, 41, 158);
  }
  #thegridofdestiny :nth-child(2) {
    background-color: rgb(30, 43, 158);
  }
  #thegridofdestiny :nth-child(3) {
    background-color: rgb(171, 10, 163);
  }
  #thegridofdestiny :nth-child(4) {
    background-color: rgb(5, 176, 82);
  }
  #thegridofdestiny :nth-child(5) {
    background-color: rgb(232, 186, 2);
  }
  #thegridofdestiny :nth-child(6) {
    background-color: rgb(224, 2, 147);
  }
  #thegridofdestiny :nth-child(7) {
    background-color: rgb(2, 224, 17);
  }
  #thegridofdestiny :nth-child(8) {
    background-color: rgb(61, 3, 252);
  }
  #thegridofdestiny :nth-child(9) {
    background-color: rgb(2, 224, 180);
  }
  #thegridofdestiny :nth-child(10) {
    background-color: gray;
  }
  #thegridofdestiny :nth-child(11) {
    background-color: darkblue;
  }
  #thegridofdestiny :nth-child(12) {
    background-color: limegreen;
  }